@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
  background: #7159c1;
}

.container {
  width: 80%;
  max-width: 400px;
  margin: 24px auto;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: white;
  font-size: 3.4rem;
}

input {
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 32px;
  border-radius: 16px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1.6rem;
  font-weight: 300;
}

ul {
  background: white;
  box-shadow: 0px 4px 8px -2px #00000033;
  border-radius: 6px;
  border: 1px solid #ddd;
  padding: 16px;
  font-size: 1.4rem;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 16px 0;
  font-size: 1.8rem;
  width: 100%;
}

a:hover {
  font-weight: bold;
}

li:first-child, li:last-child {
  border: none;
}

li span {
  cursor: pointer;
  font-size: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 6px;
  padding: 5px;
  background-color: #3e2b7d;
  color: #fff;
  transition: all 0.2s;
}

li span:hover {
  background-color: #322266;
  transition: all 0.2s;
}

button {
  color: #fff;
  padding: 8px 16px;
  border: 1px solid #3e2b7d;
  background-color: #3e2b7d;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 16px;
  text-transform: uppercase;
}

button:hover {
  border-color: #322266;
  background-color: #322266;
  transition: all 0.2s;
}